h3,h4,h5,h6 {
  color:#004CFD;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-grid div {
  text-align: center;
}

.text-end {
  text-align: right; /* Alinea el texto del input a la derecha */
}

.borderElement {
  border: 2px solid #004CFD;
  border-radius: 5px;
}

.radiosCentrados {
padding-left: 16em;
}

.divPersonasCargo {
  border: none;
  padding-right: 10em;
}

.anchoSelectDeduccion {
  width: 12em;
}

.divCantHijosSinDiscapacidad {
  padding-right: 3.6em;
}

.anchoInputCantidadHijosSinDiscapacidad
{
  width: 11.9em;
}

.divCantHijosConDiscapacidad {
  padding-right: 3.9em;
}

.tituloSiEsProfesional {
  margin-block-start: 1em
}

.divAportaFondoSolidaridad {
  border: none;
  padding-right: 3em;
}

.divAporteMensualCajaNotarial {
  padding-right: 6.2em;
}

.divOtrasDeducciones {
  padding-left: 3.2em;
}

.botonCalcular {
   margin-block-start: -1em;
   background-color: #004CFD;
   color: white;
}

