<header>
  <br>
  <h3>Salario líquido Uruguay</h3><br />
</header>

<main>
  <form class="form">
    <div class="form-grid">
          <label for="inputSalarioNominal" class="col-form-label">Salario nominal en pesos:</label>&nbsp;
          <input id="inputSalarioNominal" name="inputSalarioNominal" class="form-input text-end" type="number" min="0" value="0">
    </div>
    <br>
    <h4>Cálculo de aportes BPS</h4>
    <div class="form-grid">
      <label for="inputHijosACargo" class="col-form-label">¿Tiene hijos a cargo?</label>&nbsp;
      <input type="checkbox" id="hijosACargo" name="inputHijosACargo" class="form-input"><br>
      <label for="inputConyugueACargo" class="col-form-label">¿Tiene cónyugue a cargo?</label>&nbsp;
      <input type="checkbox" id="conyugueACargo" name="inputConyugueACargo" class="form-input">
    </div>
  </form>

</main>
